header {
    background-color: #595959;
    color: white;
    width: 100%;
}

header img {
    max-width: 100%;
    height: auto;
}

#headerone {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0%;
}

#headertwo {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.card {
    display: flex;
    width: 50%;
    justify-content: center;
    background-color: #9191915b;
    border-radius: 10%;
    margin: 5%;
}

.card-container {
    display: block;
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
}

#btn-one {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

button {
    padding: 1%;
}

/* Rest of your existing CSS styles */

/* Rest of your existing CSS styles */

footer {
    background-color: #e2a4a4;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    /* Add border-radius for rounded corners */
    position: fixed;
    bottom: 0;
    left: 10px;
    /* Add a small distance from the left edge of the window */
    right: 10px;
    /* Add a small distance from the right edge of the window */
    margin: 10px;
    /* Add a small margin to the footer */
}

a.links {
    color: #4c303e;
    background-color: transparent;
    text-decoration: none;
}

.header {
    display: inline;
}

/* Rest of your existing CSS styles */

/* Style for the project name popup */
.project-name-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    display: none;
    opacity: 0;
    /* Add opacity to create fade-in effect */
    transition: opacity 0.3s ease;
    /* Add transition for opacity change */
}

/* Show the project name popup when hovering over the image */
.card-img-top:hover+.project-name-popup {
    display: block;
    opacity: 1;
    /* Change opacity to 1 to make it visible */
}

.past-launches {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.launch-title-card {
    margin: 1%;
    padding: 1%;
    border-radius: 1em;
    background-color: #cdcbcb88;
}

.hide {
    display: none;
}

@media (max-width: 751px) {
    #headerone {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }
}